Checks: "*,\
         -llvm-header-guard,\
         -llvm-namespace-comment,\
         -llvmlibc-restrict-system-libc-headers,\
         -llvmlibc-callee-namespace,\
         -llvmlibc-implementation-in-namespace,\
         -llvmlibc-inline-function-decl,\
         -altera-*,\
         -fuchsia-*,\
         -google-readability-namespace-comments,\
         -google-build-using-namespace,\
         -google-runtime-references,\
         -google-readability-avoid-underscore-in-googletest-name,\
         -modernize-use-nodiscard,\
         -modernize-deprecated-headers,\
         -modernize-use-trailing-return-type,\
         -modernize-concat-nested-namespaces,\
         -modernize-type-traits,\
         -hicpp-special-member-functions,\
         -hicpp-vararg,\
         -hicpp-no-malloc,\
         -hicpp-no-array-decay,\
         -hicpp-deprecated-headers,\
         -hicpp-braces-around-statements,\
         -hicppcert-err60-cpp,\
         -cppcoreguidelines-special-member-function,\
         -cppcoreguidelines-macro-usage,\
         -cppcoreguidelines-avoid-magic-numbers,\
         -cppcoreguidelines-avoid-non-const-global-variables,\
         -cppcoreguidelines-avoid-const-or-ref-data-members,\
         -cppcoreguidelines-avoid-do-while,\
         -cppcoreguidelines-pro-type-vararg,\
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,\
         -cppcoreguidelines-special-member-functions,\
         -cppcoreguidelines-owning-memory,\
         -cppcoreguidelines-non-private-member-variables-in-classes,\
         -cppcoreguidelines-pro-type-union-access,\
         -misc-non-private-member-variables-in-classes,\
         -misc-no-recursion,\
         -misc-include-cleaner,\
         -readability-magic-numbers,\
         -readability-implicit-bool-conversion,\
         -readability-braces-around-statements,\
         -readability-isolate-declaration,\
         -readability-identifier-length,\
         -readability-function-cognitive-complexity,\
         -readability-avoid-nested-conditional-operator,\
         -bugprone-unused-return-value,\
         -bugprone-easily-swappable-parameters,\
         -bugprone-exception-escape,\
         -bugprone-optional-value-conversion,\
         -cert-err58-cpp,\
         -performance-avoid-endl,\
         -performance-enum-size,\
         -clang-analyzer-optin.performance.Padding"

