Checks: "*,\
         -llvm-header-guard,\
         -llvm-namespace-comment,\
         -fuchsia-*,\
         -google-default-arguments,\
         -google-readability-namespace-comments,\
         -google-build-using-namespace,\
         -google-runtime-references,\
         -google-readability-avoid-underscore-in-googletest-name,\
         -modernize-use-nodiscard,\
         -modernize-deprecated-headers,\
         -modernize-avoid-c-arrays,\
         -modernize-use-trailing-return-type,\
         -hicpp-special-member-functions,\
         -hicpp-vararg,\
         -hicpp-no-malloc,\
         -hicpp-avoid-c-arrays,\
         -hicpp-no-array-decay,\
         -hicpp-deprecated-headers,\
         -hicpp-braces-around-statements,\
         -cppcoreguidelines-special-member-function,\
         -cppcoreguidelines-macro-usage,\
         -cppcoreguidelines-avoid-magic-numbers,\
         -cppcoreguidelines-pro-type-vararg,\
         -cppcoreguidelines-pro-type-cstyle-cast,\
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,\
         -cppcoreguidelines-special-member-functions,\
         -cppcoreguidelines-owning-memory,\
         -cppcoreguidelines-avoid-c-arrays,\
         -cppcoreguidelines-no-malloc,\
         -cppcoreguidelines-non-private-member-variables-in-classes,\
         -cppcoreguidelines-pro-bounds-constant-array-index,\
         -misc-non-private-member-variables-in-classes,\
         -readability-magic-numbers,\
         -readability-implicit-bool-conversion,\
         -readability-braces-around-statements,\
         -readability-isolate-declaration,\
         -bugprone-macro-parentheses,\
         -bugprone-unused-return-value,\
         -cert-err58-cpp,\
         -cert-err60-cpp"

